src/static/django_google_maps/* linguist-vendored
src/static/modernizr/* linguist-vendored
src/static/prism/* linguist-vendored
src/static/tinymce/* linguist-vendored
src/static/clipboard-js/* linguist-vendor
src/static/admin_site/jquery-ui.min.css/* linguist-vendor
src/static/admin_site/jquery-ui.min.js/* linguist-vendor
src/static/admin_site/materialize_admin.css/* linguist-vendor
src/static/assets_admin/css/bootstrap.css/* linguist-vendor
src/static/assets_admin/css/style.css/* linguist-vendor
src/static/assets_admin/js/bootstrap.min.js/* linguist-vendor
src/static/assets_admin/js/jquery.js/* linguist-vendor
src/static/assets/css/bootstrap.css/* linguist-vendor
src/static/assets/css/style.css/* linguist-vendor
src/static/assets/js/bootstrap.js/* linguist-vendor
src/static/assets/js/jquery.min.js/* linguist-vendor
