Django==1.10.3
django-haystack==2.6.1
django-widget-tweaks==1.4.1
django-recaptcha==1.0.5
django-cleanup==0.4.2
django-material==1.0.0
python-magic==0.4.12
django-tinymce==2.6.0
django-extensions==1.8.1
django-google-maps==0.7.0
Pillow==8.2.0
psycopg2==2.7.1
bokeh==0.12.6
django-jenkins==0.110.0
coverage==4.4.1
django-nose==1.4.4
elasticsearch==2.4.1
django-phonenumber-field==1.3.0