{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
             <a href="/subject/{{ name }}">
           <h2>{{ name }}</h2>
             </a>
           <ol class="breadcrumb">
            <li><a href="/">Acasă</a></li>
            <li class="active">{{ kind }}</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">
                    {% if subcategory_article %}
                    {% for news in subcategory_article %}
                    <div class="col-md-6 col-sm-6">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <a href="{{news.slug}}"><img style="width: 400px;height: 200px" src= '{{ news.file.url }}'alt="img"></a>
                          <figcaption class="mu-blog-caption">
                            <h3><a href="{{news.slug}}">{{ news.name|truncatechars:17 }}</a></h3>
                          </figcaption>
                        </figure>


                        <div class="mu-blog-description">

                          <a class="mu-read-more-btn" href="{{news.slug}}">Citeşte mai mult</a>
                        </div>
                      </article>
                    </div>
                    {% endfor %}

                    {% else %}
                    <h3>Nu sunt informaţii de afișat </h3>
                    {% endif %}
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start course pagination -->
                <div class="mu-pagination">
                  <nav>
                    <ul class="pagination">
                      {% if subcategory_article.has_previous %}
                      <li>
                        <a href="?page={{ subcategory_article.previous_page_number }}" aria-label="Previous">
                          <span class="fa fa-angle-left"></span> Înapoi
                        </a>
                      </li>
                      {% endif %}
                      {% for num in subcategory_article.paginator.page_range %}
                        {% if num == subcategory_article.number %}
                          <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                          <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if subcategory_article.has_next %}
                      <li>
                        <a href="?page={{ subcategory_article.next_page_number }}" aria-label="Next">
                         Înainte <span class="fa fa-angle-right"></span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                <!-- end course pagination -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Specializări</h3>
                    <ul class="mu-sidebar-catg">
                      {% for subject in left_subjects %}
                      <li><a href="/subject/{{ subject.name }}">{{ subject.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}
