<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% load staticfiles %}
{% block content %}

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>{{  name  }}</h2>
           <ol class="breadcrumb">
            <li><a href="/">Acasă</a></li>
            <li><a href="/subject_page_all">Specializari</a></li>
            <li class="active">{{ name }}</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">
                    {% if posts %}
                    {% for post in posts %}
                    <div class="col-md-6 col-sm-6">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          {% if post.get_type == "Subcategory" %}
                          <a href="{{ post.name }}"><img  src= '{{ post.file.url }}'alt="img"></a>
                          {% else %}
                          <a href="/simple/{{ name }}/{{ post.slug }}" ><img  src= '{{ post.file.url }}'alt="img"></a>
                          {% endif %}
                        </figure>

                          <figcaption class="mu-blog-caption" style="padding-top: 305px;">
                            {% if post.get_type == "Subcategory" %}
                            <h3><a href="{{post.name}}" title="{{post.name}}">{{ post.name|truncatechars:17 }}</a></h3>
                            {% else %}
                            <h3><a href="/simple/{{ name }}/{{ post.slug }}" title="{{post.name}}">{{ post.name|truncatechars:17 }}</a></h3>
                            {% endif %}
                          </figcaption>
                        <div class="mu-blog-description" style="font-family: 'Source Sans Pro', sans-serif;!important;">
                        {% if post.get_type == "Subcategory" %}
                          <a class="mu-read-more-btn" href="{{ post.name }}">Citeşte mai mult</a>
                        {% else %}
                          <a class="mu-read-more-btn" href="/simple/{{ name }}/{{ post.slug }}">Citeşte mai mult</a>
                        {% endif %}
                        </div>
                      </article>
                    </div>
                    {% endfor %}

                    {% else %}
                    <h3>Nu sunt informaţii de afişat </h3>
                    {% endif %}
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start course pagination -->
                <div class="mu-pagination">
                  <nav>
                    <ul class="pagination">
                      {% if posts.has_previous %}
                      <li>
                        <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                          <span class="fa fa-angle-left"></span> Înapoi
                        </a>
                      </li>
                      {% endif %}
                      {% for num in posts.paginator.page_range %}
                        {% if num == posts.number %}
                          <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                          <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if posts.has_next %}
                      <li>
                        <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                         Înainte <span class="fa fa-angle-right"></span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
      <!-- end course pagination -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    
                    <h3><a href="/subject_page_all">Specializări</a></h3>
                        
                    <ul class="mu-sidebar-catg">
                      {% for subject in left_subjects %}
                      <li><a href="/subject/{{ subject.name }}">{{ subject.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}
