{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify material_form material_admin %}

{% block brand-logo %}{{ title }}{% endblock %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
<a class="active" href="{% url opts|admin_urlname:'changelist' %}">{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{% trans 'Change' %}{% endif %}</a>
{% endblock %}


{% block content %}
<div class="row change-form">
    <div class="col s12 m12 l9">
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
            <div class="card">
                <div class="card-content">
                    {% csrf_token %}
                    {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
                    {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
                    <div class="row">
                        <div class="col s12">
                            <h4 class="form-title black-text">{% if add %}{% trans 'New' %} {{ opts.verbose_name }}{% else %}{{ adminform.form.instance|title }}{% endif %}</h4>
                        </div>
                    </div>
                    {% if errors %}
                    <div class="row">
                        <div class="col s12">
                            <small class="errornote">
                                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                <br/><br/>
                            </small>
                        </div>
                    </div>
                    {% endif %}

                    {% block change_form %}
                        {% fieldset_layout adminform inline_admin_formsets as layout %}
                        {% form form=adminform.form layout=layout %}{% endform %}
                        {% prepopulated_fields_js %}
                    {% endblock %}
                    {% block after_related_objects %}{% endblock %}
                </div>
                <div class="card-action">
                    {% submit_row %}
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 m12 l3">
        {% if not is_popup and change %}
        <div class="card actions-card">
            <div class="card-content">
                <span class="card-title black-text">{% trans "Action" %}</span>
                {% block object-tools %}
                <div class="row">
                    <div class="col s12">
                        <ul class="object-tools col s12">
                            {% block object-tools-items %}
                            <li>
                                {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                                <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                            </li>
                            {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>        
        {% endif %}
        {% if adminform.form.show_files %}
        {% load view_extra %}
        {% load static %}
        {% get_files as files %}
        <script type="text/javascript">
            var file_list = {{ files|jsonify }}["results"];
            var static_url = {% get_media_prefix %};
            
            $( document ).ready(function() {
                console.log( file_list );
            });
            
            function search(key) {
                var filtered_list = [];
                $('#files > li').remove();
                for (file in file_list){
                    var file_obj = file_list[file];
                    if (file_obj["name"].toLowerCase().indexOf(key) >= 0 ||
                        file_obj["author__first_name"].toLowerCase().indexOf(key) >= 0 ||
                        file_obj["author__last_name"].toLowerCase().indexOf(key) >= 0){
                        console.log(file_obj["author__last_name"]);
                        $('#files').append('\
                            <li>\
                                <div class="collapsible-header truncate">\
                                    <div class="truncate"><i class="material-icons">description</i>' + file_obj["name"] + '</div>\
                                    <div class="truncate"><i class="material-icons">account</i>by ' + file_obj["author__first_name"] + " " + file_obj["author__last_name"] + '</div>\
                                </div>\
                                <div class="collapsible-body card-action">\
                                    <a class="cpy accent-color-text" href="#" data-clipboard-text="' + file_obj["file"] + '">\
                                        Copy Link\
                                    </a>\
                                    <a class="accent-color-text" href="' + static_url + file_obj["file"] + '" target="_blank">\
                                        See File\
                                    </a>\
                                </div>\
                            </li>');
                    }
                }
            }
            
            function enter_press(e){
                if(e.keyCode == 13){
                    console.log("Hello");
                    search($('#searchbar').val());
                }
            }
            
            $(document).ready(function() {
                $("#changelist-search-button").click(function(){
                    search($('#searchbar').val());
                }); 
            });
        </script>
        <ul id="files" class="object-tools col s12 collapsible card filters-card" style="padding: 20px;" data-collapsible="accordion">
            <span class="card-title black-text">{% trans "Files" %}</span>
            <div class="row" style="margin-top:-10px">
                <div class="input-field col s12">
                    <input type="text" data-name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" onkeypress="enter_press(event)"/>
                    <label for="searchbar" class="{% if cl.query %}active{% endif %}">Search files</label>
                    <a id="changelist-search-button" style=""><i class="material-icons">search</i></a>
                </div>
            </div>
            {% for f in files %}
            <li>
                <div class="collapsible-header">
                    <div class="truncate"><i class="material-icons">description</i>{{ f.name }}</div>
                    <div class="truncate"><i class="material-icons">account</i>by {{ f.author.get_full_name }}</div>
                </div>
                <div class="collapsible-body card-action">
                    <a class="cpy accent-color-text" href="#" data-clipboard-text="{{ f.file.url }}">
                        Copy Link
                    </a>
                    <a class="accent-color-text" href="{{ f.file.url }}" target="_blank">
                        See File
                    </a>                            
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% if adminform and add %}
    <script type="text/javascript">
        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').attr('autofocus', true);
        $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus();  
    </script>
    {% endif %}
    {% if adminform.form.show_files %}
    <script type="text/javascript">
        new Clipboard(".cpy");
    </script>
    {% endif %}
</div>
{% endblock %}
