{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify material_form material_admin %}

{% block brand-logo %}{{ title }}{% endblock %}

{% block breadcrumbs_items %}
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
<a class="active" href="{% url opts|admin_urlname:'changelist' %}">{% if add %}{% trans 'Add' %}{% elif view %}{% trans 'View' %}{% elif change %}{% trans 'Change' %}{% endif %}{{ opts.verbose_name }}</a>
{% endblock %}


{% block content %}
<div class="row change-form">
    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-content">
                {% csrf_token %}
                {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
                {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
                <div class="row">
                    <div class="col s12">
                        <h4 class="form-title black-text">{% if add %}{% trans 'New' %} {{ opts.verbose_name }}{% else %}{{ adminform.form.instance|title }}{% endif %}</h4>
                    </div>
                </div>
                {% if errors %}
                <div class="row">
                    <div class="col s12">
                        <small class="errornote">
                            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                            <br/><br/>
                        </small>
                    </div>
                </div>
                {% endif %}

                {% block change_form %}
                    {% fieldset_layout adminform inline_admin_formsets as layout %}
                    {% form form=adminform.form layout=layout %}{% endform %}
                    {% prepopulated_fields_js %}
                {% endblock %}
                {% block after_related_objects %}{% endblock %}
                <link rel="stylesheet" type="text/css" href="{% static 'admin_site/drag_n_drop_gallery.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'admin_site/jquery-ui.min.css' %}">
                <script src="{% static 'admin_site/jquery-ui.min.js' %}"></script>
                <div class="card" style="overflow-x: scroll;" id="gallery">
                    <form class="card box s3 m3 l3 col" style="height:200px;" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box__input">
                            <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
                            <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
                            <button class="box__button" type="submit" name="drag_n_drop">Upload</button>
                        </div>
                        <div class="box__uploading">Uploading&hellip;</div>
                        <div class="box__success">Done!</div>
                        <div class="box__error">Error! <span></span>.</div>
                    </form>
                </div>
                {% if add %}
                    <input name="change" type="hidden" value="0">
                {% else %}
                    <input name="change" type="hidden" value="1">
                {% endif %}
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
                <script type="text/javascript" src="{% static 'modernizr/modernizr-custom.js' %}"></script>
                <script type="text/javascript" src="{% static 'admin_site/drag_n_drop_gallery.js' %}"></script>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="left-align col">
                        <a class="waves-effect waves-light btn white-text" onclick="restore_deleted()">Restore deleted photos</a>
                    </div>
                    <div class="right-align col" style="float:right !important;">
                        <a class="waves-effect waves-light btn white-text" onclick="post()">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l3">
        {% if not is_popup and change %}
        <div class="card actions-card">
            <div class="card-content">
                <span class="card-title black-text">{% trans "Action" %}</span>
                {% block object-tools %}
                <div class="row">
                    <div class="col s12">
                        <ul class="object-tools col s12">
                            {% block object-tools-items %}
                            <li>
                                {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                                <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                            </li>
                            {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        {% endif %}
    </div>
    {% if adminform.form.show_files %}
    <script type="text/javascript">
        new Clipboard(".cpy");
    </script>
    {% endif %}
</div>
{% endblock %}
