<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% load i18n admin_urls %}
{% if show_save_and_add_another or show_save_and_continue %}
    <div class="left">
        <a class='dropdown-admin dropdown-button waves-effect waves-light black-text' href='#' data-activates='save-dropdown-admin' style="padding:4px 15px 2px 15px;" data-constrainwidth>
            <i class="material-icons">save</i>
            <i class="material-icons">arrow_drop_down</i>
        </a>
        <ul id='save-dropdown-admin' class='dropdown-content'>
            {% if show_save_and_add_another %}
                <li class="li-dropdown-admin">
                    <input type="submit" value="{% trans 'Save and add another' %}" class="btn-flat" name="_addanother" />
                </li>
            {% endif %}
            {% if show_save_and_continue %}
                <li class="li-dropdown-admin">
                    <input type="submit" value="{% trans 'Save and continue editing' %}" class="btn-flat" name="_continue" />
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
<div class="right-align">
    {% if show_delete_link %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="deletelink waves-effect waves-light btn white-text">{% trans "Delete" %}</a>
    {% endif %}
    {% if show_save %}
        <button type="submit" class="waves-effect waves-light btn white-text">{% trans 'Save' %}</button>
    {% endif %}
</div>
