{% extends "base.html" %}
{% block title %}{{ album_name }}{% endblock %}
{% block link_add %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% load staticfiles %}
{% block content %}


 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
             <a href="/album">
           <h2>Galerie de Imagini </h2>
             </a>
           <ol class="breadcrumb">
            <li><a href="/">Acasă</a></li>
            <li class="active">Imagini</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <!-- Start gallery  -->
<section id="mu-gallery">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-gallery-area">
          <!-- start title -->
          <div class="mu-title">

            <p>„O minte educată îți permite să susții un gând fără a-l accepta.” — Aristotel</p>
          <!-- end title -->
  {% if photos %}

          <div class="w3-content" style="max-width:900px">

                  {% for image in photos %}
                    <img class="mySlides" src="{{ image.file.url }}" style="width:100%">
                         {% endfor %}

          </div>

<div class="w3-center">
  <div class="w3-section">
    <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
    <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
  </div>
     {% for image in photos %}
  <button class="w3-button demo" onclick="currentDiv({{ forloop.counter }})">{{ forloop.counter }}</button>
 {% endfor %}
</div>
          {% endif %}


          <!-- start gallery content -->
          <div class="mu-gallery-content">
            <div class="mu-gallery-body">
              <ul class="row">
                  {% if photos %}
                  {% for image in photos %}
                <li class="col-md-4 col-sm-6 col-xs-12">
                 	<div class="mu-single-gallery">                  
                    	<div class="mu-single-gallery-item">
		                    <div class="mu-single-gallery-img">
		                        <a href="#"><img alt="img" src="{{ image.file.url }}"></a>
		                    </div>
							<div class="mu-single-gallery-info">
                        		<div class="mu-single-gallery-info-inner">


		                          	<a href="#" class="mu-view-btn"><span class="fa fa-search"></span></a>

								  	<!-- Iteam detail view -->
								  	<div class="portfolio-detail">
					                    <a href="#" class="modal-close-btn"><span class="fa fa-times"></span></a>
					                    <img src="{{ image.file.url }}" alt="img-9"/>



				                	</div>
								</div>
							</div> 
						</div>
					</div>
                </li>
                  {% endfor %}
                  {% endif %}
              </ul>            
            </div>
          </div>
          <!-- end gallery content -->
         </div>
       </div>
     </div>
   </div>
 </section>

    <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-red", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-red";
}
</script>

 {% endblock %}