#button-wrapper{
	position: relative;
  width: 100%;
}

.edu-text-1{
	z-index: 100;
  position: relative;
  color: white;
  left: 0px;
  top: 5px;
  font-size: 20px;
  text-align: center;
}

.edu-text{
	z-index: 100;
  position: relative;
  color: white;
  left: 0px;
  margin-top: -12px;
  font-size: 15px;
  text-align: center;
}

.edu-year{
	z-index: 100;
  position: relative;
  color: white;
  left: 0px;
  margin-top: -17px;
  font-size: 18px;
  text-align: center;
}

#minister-image{
	position: absolute;
	top: -20px;
	left: 590px;
}

.edu{
  margin: 20px 10px 0px 10px;
  width: 220px;
  height: 78px;
  background-size: contain;
  display: inline-block;
	flex: 0 auto;
}

.container-edu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

@media (max-width: 600px) {
  .container-edu {
    flex-direction: column;
    align-items: center;
  }
}
