#button-wrapper{
	position:relative;
}

#image-button{
	position:absolute;
	width: 192px; 
	height: 72px;
}

#edu-text-1{
	z-index:100;
    position:absolute;    
    color:white;
    left: 55px;
    top: 5px;
  	font-size: 20px;
}
#edu-text{
	z-index:100;
    position:absolute;    
    color:white;
  	font-size: 15px;
  	top: 27px;
  	left: 25px;
}
#edu-year{
	z-index:100;
    position:absolute;    
    color:white;
  	font-size: 18px;
  	top: 45px;
  	left: 75px;
}