{% extends "base_admin.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i>Fisiere</h3>
		  		<div class="row mt">
			  		<div class="col-lg-12">
                      <div class="content-panel">
                                <h4><i class="fa fa-angle-right"></i>Fisiere incarcate</h4>
                          <div class="col-md-4 col-md-offset-8">
                              <form method="GET">
                              <div class="input-group">
                {% csrf_token %}
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="q" placeholder="Search" type="search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>

            </div>
                              </form>
                              <br>
                      </div>
                          <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                              <thead>
                              <tr>
                                  <th class="numeric">Nume fisier</th>
                                  <th class="numeric">Incarcat de</th>
                                  <th class="numeric">La data de</th>
                                  <th class="numeric">Descarca</th>
                              </tr>
                              </thead>
                              <tbody>
                              {% for file in files %}
                              <tr>
                                  <td>{{ file.name }}</td>
                                  <td>{{ file.author }}</td>
                                  <td>{{ file.date }}</td>
                                  <td><a href="/downloadfile/{{ file.slug }}"><span class="glyphicon glyphicon-floppy-save"></span></a></td>
                                  {% if file.author == request.user or file.object.author == request.user %}
                                    <td><a href="/deletefile/{{ file.slug }}">Sterge</a> | <a href="/edit/{{ file.slug }}">Editeaza</a></td>
                                  {% endif %}
                              </tr>
                              {% endfor %}
                              </tbody>
                          </table>
                          </section>
                          <div class="btn-group">
                              {% if files.has_previous %}
                              <a href="/files/{{ files.previous_page_number }}{{ query }}">
						            <button type="button" class="btn btn-default">{{ files.previous_page_number }}</button>
                              </a>
                              {% endif %}
                              <a>
                                      <button type="button" class="btn btn-default" style="background-color: #e6e6e6;"> {{ files.number }}</button>
                              </a>
                              {% if files.has_next %}
                              <a href="/files/{{ files.next_page_number }}{{ query }}">
                                        <button type="button" class="btn btn-default">{{ files.next_page_number }}</button>
                              </a>
                              {% endif %}
						</div>
                  </div><!-- /content-panel -->
               </div><!-- /col-lg-4 -->			
		  	</div><!-- /row -->


		</section><! --/wrapper -->
 {% endblock %}
