{% extends "base_admin.html" %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
<section id="main-content">
<section class="wrapper">
	<h3><i class="fa fa-angle-right"></i>Fisiere</h3>
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel">
             <div class="col-md-6">
				<h4><i class="fa fa-angle-right"></i>Fisiere incarcate</h4>
             </div>
				<div class="col-md-6 row">
                        <div class="col-md-4">
                            <form method="POST">

                    {%  csrf_token %}
                          <select name="time" id = "filter" onchange="this.form.submit()">
                            <option value="0" {{ selects.0 }}>Cele mai recente</option>
                            <option value="1" {{  selects.1 }}>Ultimele 24 de ore</option>
                            <option value="3" {{  selects.3 }}>Ultimele 3 zile</option>
                            <option value="7" {{  selects.7 }}>Ultima saptamana</option>
                            <option value="31" {{  selects.31 }}>Ultima luna</option>
                          </select>
                          <select name="user_status" id = "filter" onchange="this.form.submit()">
                            <option value="-1" {{ selects.19 }}>Oricare</option>
                            <option value="0" {{ selects.20 }}>Personal</option>
                            <option value="1" {{  selects.21 }}>Director</option>
                            <option value="2" {{  selects.22 }}>Inspector</option>
                            <option value="3" {{  selects.23 }}>Admin</option>
                          </select>
                </form>
                        </div>
                        <style media="screen">
                          #filter{
                            height: 34px;
                            width: auto;
                          }
                        </style>
					<form method="GET">
						<div class="input-group col-md-6">
							{% csrf_token %}
							<input type="hidden" name="search_param" value="all" id="search_param">
							{%  if form.q.value %}
							<input type="text" class="form-control" name="q" placeholder="Search" value="{{ form.q.value }}" type="search">
							{%  else  %}
							<input type="text" class="form-control" name="q" placeholder="Search" type="search">
							{%  endif %}
							<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</form>
				</div>
            <br>
				<section id="unseen">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th class="numeric">Nume fisier</th>
								<th class="numeric">Incarcat de</th>
								<th class="numeric">La data de</th>
								<th class="numeric">Descarca</th>
							</tr>
						</thead>
						<tbody>
							{% for file in files %}
							<tr>
								<td>{{ file.name }}</td>
                                {%  for stat in file.author.STATUS_CHOICES %}
                                    {% if stat.0 == file.author.status %}
								    <td>{{ file.author }}({{ stat.1 }})</td>
                                    {% endif %}
                               {% endfor %}
								<td>{{ file.date }}</td>
								<td><a href="/downloadfile/{{ file.slug }}"><span class="glyphicon glyphicon-floppy-save"></span></a></td>
								{% if file.author == request.user or file.object.author == request.user %}
                                    <td><a href="/deletefile/{{ file.slug }}">Sterge</a> | <a href="/edit/{{ file.slug }}">Editeaza</a></td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</section>
				<div class="btn-group">
					{% if files.has_previous %}
					<a href="/files/{{ files.previous_page_number }}{{ query }}">
					<button type="button" class="btn btn-default">{{ files.previous_page_number }}</button>
					</a>
					{% endif %}
					<a>
					<button type="button" class="btn btn-default" style="background-color: #e6e6e6;"> {{ files.number }}</button>
					</a>
					{% if files.has_next %}
					<a href="/files/{{ files.next_page_number }}{{ query }}">
					<button type="button" class="btn btn-default">{{ files.next_page_number }}</button>
					</a>
					{% endif %}
				</div>
			</div>
			<!-- /content-panel -->
		</div>
		<!-- /col-lg-4 -->
	</div>
	<!-- /row -->
</section>
<! --/wrapper -->
 {% endblock %}