{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Evenimente</h2>
           <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Evenimente</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">

                    {% if events %}
                    {% for event in events %}
                    <div class="col-md-6 col-sm-6">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <a href="/event/{{ event.slug }}"><img style="width: 400px;height: 200px" src= '{{ event.file.url }}'alt="img"></a>
                          <figcaption class="mu-blog-caption">
                            <h3><a href="/event/{{ event.slug }}">{{ news.name }}</a></h3>
                          </figcaption>
                        </figure>
                        <div class="mu-blog-meta">
                          <a >By {{ event.author.get_full_name }}</a>
                          <a >{{ event.date }}</a>
                        </div>
                        <div class="mu-blog-description">

                          <a class="mu-read-more-btn" href="/event/{{ event.slug }}">Citeşte mai mult</a>
                        </div>
                      </article>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h3>Nu sunt informaţii de afişat ! </h3>
                    {% endif %}
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start course pagination -->
                <div class="mu-pagination">
                  <nav>
                    <ul class="pagination">
                      {% if events.has_previous %}
                      <li>
                        <a href="?page={{ events.previous_page_number }}" aria-label="Previous">
                          <span class="fa fa-angle-left"></span> Prev
                        </a>
                      </li>
                      {% endif %}
                      {% for num in events.paginator.page_range %}
                        {% if num == events.number %}
                          <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                        {% else %}
                          <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if events.has_next %}
                      <li>
                        <a href="?page={{ events.next_page_number }}" aria-label="Next">
                         Next <span class="fa fa-angle-right"></span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                <!-- end course pagination -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Categorii</h3>
                    <ul class="mu-sidebar-catg">
                       <li><a href="/">Acasă</a></li>
                      <li><a href="/album">Galerie</a></li>
                      {% for category in categories %}
                      <li><a href="/category/{{ category.title }}">{{ category.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}
