{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Event</h2>
           <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Course</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container">
                  <div class="row">
                    {% if events %}
                    {% for event in events %}
                  <div  style="max-height: 300px" class="col-md-4 col-sm-4">
                    <div class="mu-latest-course-single">
                      <figure class="mu-latest-course-img">
                        <a ><img   src= '{{ event.file.url }}'alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">{{ event.name }} </a>
                          <span><i class="fa fa-clock-o"></i> {{ event.date }}</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">

                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="/event/{{ event.slug }}">Details</a>

                        </div>
                      </div>
                    </div>
                  </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start course pagination -->
                <div class="mu-pagination">
                  <nav>
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span class="fa fa-angle-left"></span> Prev 
                        </a>
                      </li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                         Next <span class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- end course pagination -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Categories</h3>
                    <ul class="mu-sidebar-catg">
                       <li><a href="/">Acasa</a></li>
                      <li><a href="/album">Galerie</a></li>
                      {% for category in categories %}
                      <li><a href="/category/{{ category.title }}">{{ category.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->

                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Archives</h3>
                    <ul class="mu-sidebar-catg mu-sidebar-archives">
                      <li><a href="#">May <span>(25)</span></a></li>
                      <li><a href="">June <span>(35)</span></a></li>
                      <li><a href="">July <span>(20)</span></a></li>
                      <li><a href="">August <span>(125)</span></a></li>
                      <li><a href="">September <span>(45)</span></a></li>
                      <li><a href="">October <span>(85)</span></a></li>
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Tags Cloud</h3>
                    <div class="tag-cloud">
                      <a href="#">Health</a>
                      <a href="#">Science</a>
                      <a href="#">Sports</a>
                      <a href="#">Mathematics</a>
                      <a href="#">Web Design</a>
                      <a href="#">Admission</a>
                      <a href="#">History</a>
                      <a href="#">Environment</a>
                    </div>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}