<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
  <!-- Page breadcrumb -->
  <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Contact</h2>
            <ol class="breadcrumb">
              <li><a href="/">Acasă</a></li>
              <li class="active">Contact</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <!-- Start contact  -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
            <!-- start title -->
            <div class="mu-title">
              <h3>Trimite-ne un mesaj</h3>
              <p>Pentru orice solicitare, va rugam sa ne scrieti mai jos sau telefonic la 0256-305799 </p>
            </div>
            <!-- end title -->
            <!-- start contact content -->
            <div class="mu-contact-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="mu-contact-left">
                    <form class="contactform" method="POST">
                      {% csrf_token %}
                      {% if confirm %}
                        <div  class="alert alert-success fade in" id="input-alert">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong >
                          {% for message in confirm %}
                            {{ message }}
                            {% endfor %}
                          </strong>
                        </div>
                      {% endif %}
                      {% for field in form %}
                        {% if  field.label == 'First name' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Prenume</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-author"|attr:"placeholder:Introduceti prenumele dvs."|attr:"required:required"|attr:"id=exampleInputEmail1"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Last name' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Nume</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-author"|attr:"placeholder:Introdu numele tau"|attr:"required:required"|attr:"id=exampleInputEmail1"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Email' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-email"|attr:"placeholder:Introdu email-ul tau "|attr:"required:required"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Subject' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Subiect</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-email"|attr:"placeholder:Introdu subiectul mesajului"|attr:"required:required"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Message' %}
                          <div class="form-group">
                            <label for="exampleInputPassword1">Mesaj</label>
                            <div>
                              {{ field|add_class:"form-control"|add_class:"comment-form-comment"|attr:"placeholder:Introdu mesajul tau"|attr:"required:required"}}
                            </div>
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% else %}
                          {{ field.label }}
                          {{ field|add_class:"form-control "|attr:"placeholder"|attr:"required:required"}}
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      <br>
                      <button type="submit" class="btn btn-default">Trimite</button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mu-contact-right">
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2-Lam4FdRUcRe1b-6gJMnKE&key=AIzaSyBQEElsB0Z58ew_aZfdyb5__qRn_oE9qXc&language=ro" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.3496682711534!2d21.223122015038076!3d45.74413547910529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47455d9c94a7165d%3A0x62c75219dceb9c7b!2sBulevardul%20Mihai%20Viteazu%2032%2C%20Timi%C8%99oara!5e0!3m2!1sen!2sro!4v1571995134775!5m2!1sen!2sro" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <!-- end contact content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End contact  -->
  
{% endblock %}
