<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
  <!-- Page breadcrumb -->
  <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Contact</h2>
            <ol class="breadcrumb">
              <li><a href="/">Acasă</a></li>
              <li class="active">Contact</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <!-- Start contact  -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">
            <!-- start title -->
            <div class="mu-title">
              <h3>Trimite-ne un mesaj</h3>
              <p>Pentru orice solicitare, va rugam sa ne scrieti mai jos sau telefonic la 0256-305799 </p>
            </div>
            <!-- end title -->
            <!-- start contact content -->
            <div class="mu-contact-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="mu-contact-left">
                    <form class="contactform" method="POST">
                      {% csrf_token %}
                      {% if confirm %}
                        <div  class="alert alert-success fade in" id="input-alert">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong >
                          {% for message in confirm %}
                            {{ message }}
                          {% endfor %} !
                          </strong>
                        </div>
                      {% endif %}
                      {% for field in form %}
                        {% if  field.label == 'First name' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Prenume</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-author"|attr:"placeholder:Introduceti prenumele dvs."|attr:"required:required"|attr:"id=exampleInputEmail1"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Last name' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Nume</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-author"|attr:"placeholder:Introdu numele tau"|attr:"required:required"|attr:"id=exampleInputEmail1"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Email' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-email"|attr:"placeholder:Introdu email-ul tau "|attr:"required:required"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Subject' %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Subiect</label>
                            {{ field|add_class:"form-control"|add_class:"comment-form-email"|attr:"placeholder:Introdu subiectul mesajului"|attr:"required:required"}}
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% elif  field.label == 'Message' %}
                          <div class="form-group">
                            <label for="exampleInputPassword1">Mesaj</label>
                            <div>
                              {{ field|add_class:"form-control"|add_class:"comment-form-comment"|attr:"placeholder:Introdu mesajul tau"|attr:"required:required"}}
                            </div>
                          </div>
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% else %}
                          {{ field.label }}
                          {{ field|add_class:"form-control "|attr:"placeholder"|attr:"required:required"}}
                          {% if field.errors %}
                            <div class="alert alert-danger fade in" id="input-alert">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atentie!</strong>
                              {% for error in field.errors %}
                                {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      <br>
                      <button type="submit" class="btn btn-default">Trimite</button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mu-contact-right">
                    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d6249.345033302234!2d-80.02791918555701!3d40.45935344513505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8834f411a7b748bd%3A0xaec8197db3de9a9e!2sCalifornia-Kirkbride%2C+Pittsburgh%2C+PA%2C+USA!3m2!1d40.4600435!2d-80.0213538!5e0!3m2!1sen!2sbd!4v1464270878470" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.0117254224856!2d21.225890850636254!3d45.75091087900282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47455d819bdae2db%3A0xa19c4c02eafe567b!2sInspectoratul+%C8%98colar+Jude%C8%9Bean+Timi%C8%99!5e0!3m2!1sro!2sro!4v1487713294692" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
            <!-- end contact content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End contact  -->
  
{% endblock %}