<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base.html" %}
{% block title %}ISJ TIMIS{% endblock %}
{% load staticfiles %}
{% block content %}
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static "assets/img/slider/school4.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Bine aţi venit !</h4>
        <span></span>
        <p>{{ welcome | safe }}</p>
        <a href="#despre" class="mu-read-more-btn">Află mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
           <img src="{% static "assets/img/slider/school5.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Misiune</h4>
        <span></span>
        <p>{{ mission | safe }}</p>
        <a href="#despre" class="mu-read-more-btn">Află mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
        <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
           <img src="{% static "assets/img/slider/isj2.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Misiune</h4>
        <span></span>
        <p>{{ mission | safe }}</p>
        <a href="#despre" class="mu-read-more-btn">Află mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
        <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
           <img src="{% static "assets/img/slider/isj4.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Misiune</h4>
        <span></span>
        <p>{{ mission | safe }}</p>
        <a href="#despre" class="mu-read-more-btn">Află mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
        <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
           <img src="{% static "assets/img/slider/isj7.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Misiune</h4>
        <span></span>
        <p>{{ mission | safe }}</p>
        <a href="#despre" class="mu-read-more-btn">Află mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
        <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
           <img src="{% static "assets/img/slider/isj5.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Misiune</h4>
        <span></span>
        <p>{{ mission | safe }}</p>
        <a href="#despre" class="mu-read-more-btn">Află mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <!-- Start single slider item -->
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <a href="/news_all" style="color: white;">
                <span class="glyphicon glyphicon-bullhorn"></span>
                <h3 style="color: white;">Noutăţi</h3>
              </a>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <a href="/events_all" style="color: white;">
                <span class="glyphicon glyphicon-pushpin"></span>
                <h3 style="color: white">Evenimente</h3>
              </a>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <a href="/subject_page_all" style="color: white;">
                <span class="glyphicon glyphicon-book"></span>
                <h3 style="color: white;">Specialități</h3>
              </a>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->
  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div id="despre" class="mu-title">
                    <h2>Despre noi </h2>
                  </div>
                <p>
                    {{ about_us | truncatechars:440 }}
                </p>
                  {% if about_len > 440 %}
                  <a href="/about"> Citește mai mult</a>
                  {% endif %}
                  <div class="container">
                    <div >
                      <div>
                        <div class="mu-about-us-area">
                          <div >
                            <div id="first-button" class="edu" style="background-image: url({% static "assets/img/edu-background.png" %});">
                            <a href="/primary_school" >
                              <p class="edu-text-1">Înscrierea</p>
                              <p class="edu-text">în învățământul primar</p>
                              <p class="edu-year edu-year-button"></p>
                            </a>
                            </div>
                            <div id="second-button" class="edu" style="background-image: url({% static "assets/img/edu-background.png" %});">
                                <a href="/pre_school">
                              <p class="edu-text-1">Înscrierea</p>
                              <p class="edu-text">în învăţământul preşcolar</p>
                              <p class="edu-year edu-year-button"></p>
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--               <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">
                  <a id="mu-abtus-video" href="{{ video_link | safe | striptags }}" target="mutube-video">
                    <img src="{% static "assets/img/aura2.jpg" %}" alt="img">
                  </a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End about us -->
    <!-- Start features section -->
    <section id="mu-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-features-area">
              <!-- Start Title -->
              <div class="mu-title">
                <h2>Specialităţi</h2>
                <p>În această secţiune veţi găsi informaţii relevante fiecărei discipline</p>
                <a href="/subject_page_all" class="mu-read-more-btn " style="color: #0f0f0f; border: 1px solid #000;">Toate Specializarile</a>
              </div>
              <!-- End Title -->
              <!-- Start features content -->
              <div class="mu-features-content">
                <div class="row">
                  {% if manage %}
                      <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="glyphicon glyphicon-education"></span>
                          <h4>{{ manage.name }}</h4>
                          <a href="/subject/{{manage.name}}">Accesați specializarea</a>
                        </div>
                      </div>
                  {% endif %}
                  {% if subjects %}
                    {% for subject in subjects %}
                      <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="mu-single-feature">
                          <span class="glyphicon glyphicon-education"></span>
                          <h4>{{ subject.name }}</h4>
                          <a href="/subject/{{subject.name}}">Accesați specializarea</a>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <!-- End features content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End features section -->
    <!-- Start latest course section -->
    <section id="mu-latest-courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="mu-latest-courses-area">
              <!-- Start Title -->
              <a href="news_all">
                <div class="mu-title">
                  <h2>Noutăți</h2>
                  <p>Vă ţinem la curent cu cele mai noi informații!</p>
                  <a href="news_all" class="mu-read-more-btn">Toate noutățile</a>
                </div>
              </a>
              <!-- End Title -->
              <!-- Start latest course content -->
              <div id="mu-latest-course-slide" class="mu-latest-courses-content">
                {% if noutati %}
                  {% for news in noutati %}
                    <div class="col-lg-4 col-md-4 col-xs-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a ><img src= '{{ news.file.url }}' alt="img"></a>
                        </figure>
                        <figcaption class="mu-latest-course-imgcaption">
                        <a href="/news/{{ news.slug }}"  title="{{ news.name }}" >{{ news.name|truncatewords:5| truncatechars:20 }}</a>
                        </figcaption>
                        <div class="mu-latest-course-single-content">
                          <div class="mu-latest-course-single-contbottom">
                            <a class="mu-course-details" href="/news/{{ news.slug }}">Află mai mult</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
              <!-- End latest course content -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End latest course section -->
  </div>
</div>
</div>
</div>
</section>
<!-- End our teacher -->
<section id="mu-from-blog">
<div class="container">
<div class="row">
<div class="col-md-12">
  <div class="mu-from-blog-area">
    <!-- start title -->
    <div class="mu-title">
      <a href="/events_all">
        <h2 >Proiecte şi Evenimente</h2>
        <p>Vă ţinem la curent cu cele mai importante evenimente.</p>
        <a href="/events_all" class="mu-read-more-btn " style="color: #0f0f0f; border: 1px solid #000;">Toate evenimente</a>
      </a>
    </div>
    <!-- end title -->
    <!-- start from blog content   -->
    <div class="mu-from-blog-content">
      <div class="row">
        {% if events %}
          {% for event in events %}
            <div class="col-md-4 col-sm-4">
              <article class="mu-blog-single-item">
                <figure class="mu-blog-single-img">
                  <a href="/event/{{ event.slug }}"><img style="max-width:400px;max-height: 180px" src= '{{ event.file.url }}' alt="img"></a>
                </figure>
                <figcaption class="mu-blog-caption" style="padding-top: 305px;">
                <h3><a href="/event/{{ event.slug }}" title="{{ event.name }}">{{ event.name|truncatewords:5| truncatechars:20 }}</a></h3>
                </figcaption>
                <div class="mu-blog-description" style="font-family: 'Source Sans Pro', sans-serif;!important;">
                  <a href="/event/{{ event.slug }}" class="mu-read-more-btn">Citeşte mai mult</a>
                </div>
              </article>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <!-- end from blog content   -->
  </div>
</div>
</div>
</div>
</section>
<!-- End from blog -->
<!-- Start latest course section -->
<section id="mu-latest-courses">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12">
  <div class="mu-latest-courses-area">
    <!-- Start Title -->
    <a href="/album">
      <div class="mu-title">
        <h2>Galerie de albume</h2>
        <p>„O minte educată îți permite să susții un gând fără a-l accepta.”
        — Aristotel</p>
        <a href="/album" class="mu-read-more-btn">Toate albumele</a>
      </div>
    </a>
    <!-- End Title -->
    <!-- Start latest course content -->
    <div id="mu-latest-course-slide" class="mu-latest-courses-content">
      {% if album %}
        {% for school in album %}
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="mu-latest-course-single">
              <figure class="mu-latest-course-img">
                <a>
                    <img  src= '{{ school.file.url }}' alt="img">
                </a>
              </figure>
              <figcaption class="mu-latest-course-imgcaption">
              <a href="/gallery/{{ school.slug }}" title="{{ school.name }}" >{{ school.name|truncatewords:5| truncatechars:20 }}</a>
              </figcaption>
              <div class="mu-latest-course-single-content">
                <div class="mu-latest-course-single-contbottom">
                  <a class="mu-course-details" href="/gallery/{{ school.slug }}">Vizualizați albumul</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <!-- End latest course content -->
  </div>
</div>
</div>
</div>
</section>
<!-- End latest course section -->
</div>
</div>
</div>
</div>
</section>
<!-- End our teacher -->
<section id="mu-from-blog">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="mu-from-blog-area">
<!-- start title -->
<div class="mu-title">
<a href="/school_all">
<h2>Rețea Școlară Județul Timiș</h2>
<p>"Educaţia înseamnă învăţarea a ceea ce nu ai ştiut vreodată că nu ştii."</p>
<a href="/school_all" class="mu-read-more-btn " style="color: #0f0f0f;border:
  1px solid #000;">Toate școlile</a>
<a href="/school_map" class="mu-read-more-btn " style="color: #0f0f0f;border:
  1px solid #000;">Harta Interactivă</a>
</a>
</div>
<!-- end title -->
<!-- start from blog content   -->
<div class="mu-from-blog-content">
<div class="row">
{% if schools %}
{% for news in schools %}
  <div class="col-md-4 col-sm-4">
    <article class="mu-blog-single-item">
      <figure class="mu-blog-single-img">
        {% if news.file %}
        <a href="/schools/{{ news.slug }}" ><img style="max-width:
          400px;max-height: 180px" src= '{{ news.file.url }}' alt="img"></a>
        {% else %}
        <a href="/schools/{{ news.slug }}" ><img style="max-width:
        400px;max-height: 180px" src='{% static 'assets/img/school.jpg' %}' alt="img"></a>
        {% endif %}
      </figure>
      <figcaption class="mu-blog-caption" style="padding-top: 305px;">
      <h3><a href="/schools/{{ news.slug }}" title="{{ news.name }}" >{{ news.name|truncatechars:16|truncatewords:5 }}</a></h3>
      </figcaption>
      <div class="mu-blog-description">
        <a href="/schools/{{ news.slug }}" class="mu-read-more-btn">Mai mult</a>
      </div>
    </article>
  </div>
{% endfor %}
{% endif %}
</div>
</div>
<!-- end from blog content   -->
</div>
</div>
</div>
</div>
</section>
<!-- End from blog -->
{% endblock %}
