{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static "assets/img/slider/p1.jpg" %}"alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Bine aţi venit !</h4>
        <span></span>
        <h2>Suntem aici pentru a te ajuta</h2>
        <p>Inspectoratul Şcolar Judeţean Timiş, instituţie descentralizată de specialitate a Ministerului Educatiei si Cercetării Stiintifice</p>
        <a href="#despre" class="mu-read-more-btn">Afla mai multe</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static "assets/img/slider/p2.jpg" %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>M I S I U N E</h4>
        <span></span>
        <h3>Inspectoratul Şcolar Judeţean Timiş promovează si încurajează cresterea calitătii actului educativ</h3>
        <p>prin îmbunătătirea activitătii proprii, dar si  prin crearea unui mediu stimulativ si motivant pentru copii, tineri si cadre didactice,</p>
        <a href="#" class="mu-read-more-btn">Află mai mult</a>
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->

    <!-- Start single slider item -->
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="glyphicon glyphicon-bullhorn"></span>
              <a href="/news_all">
              <h3 style="color: white;">Noutaţi</h3>
              <p>Te ţinem la curent cu tot ce se întamplă</p>
              </a>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="glyphicon glyphicon-pushpin"></span>
              <a href="/events_all">
              <h3 style="color: white">Evenimente</h3>
              <p>Aflaţi informaţii despre evenimente </p>
              </a>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="glyphicon glyphicon-erase"></span>
              <h3>Relaţii cu publicul </h3>
              <p>Informaţii de care ai nevoie</p>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->

  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div id="despre" class="mu-title">
                    <h2>Despre noi </h2>
                  </div>
                  <!-- End Title -->
                  <p>
                  Inspectoratul Şcolar Judeţean Timiş, instituţie descentralizată de specialitate a Ministerului Educatiei si Cercetării Stiintifice:  </p>
                    <li>Asigură aplicarea legislaţiei în organizarea, conducerea şi desfăşurarea procesului de învăţământ;</li>
                    <li>Asigură calitatea învăţământului şi respectarea standardelor naţionale prin inspecţia şcolară;</li>
                    <li>Asigură, împreună cu autorităţile administraţiei publice locale, şcolarizarea elevilor pe durata învăţământului obligatoriu;</li>
                    <li>Coordoneaza încadrarea unităţilor de învăţământ cu personal didactic;</li>
                    <li>Organizează şi îndrumă activitatea de perfecţionare a personalului din învăţământul preuniversitar;</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis excepturi et? Mollitia!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">
                <a id="mu-abtus-video" href="https://www.youtube.com/watch?v=1kX11JZpw7E" target="mutube-video">
                  <img src="{% static "assets/img/cladire.jpg" %}" alt="img">
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->

  <!-- Start about us counter -->
  <section id="mu-abtus-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-abtus-counter-area">
            <div class="row">
              <!-- Start counter item -->
               <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="glyphicon glyphicon-home"></span>
                  <h4 class="counter">272</h4>
                  <p>Unităţi de învaţământ </p>
                </div>
              </div>

              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="glyphicon glyphicon-education"></span>
                  <h4 class="counter">7427</h4>
                  <p>Profesori</p>
                </div>
              </div>

              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-users"></span>
                  <h4 class="counter">678068</h4>
                  <p>Populaţie </p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single no-border">
                  <span class="glyphicon glyphicon-star"></span>
                  <h4 class="counter">5</h4>
                  <p>Şcoli Europene  </p>
                </div>
              </div>
              <!-- End counter item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us counter -->

  <!-- Start features section -->
  <section id="mu-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-features-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Specialităţi</h2>
              <p>În această secţiune veţi găsi informaţii relevante fiecărei discipline</p>
              <a href="/subject_page_all" class="mu-read-more-btn " style="color: #0f0f0f">Toate Specializarile</a>
            </div>
            <!-- End Title -->
            <!-- Start features content -->
            <div class="mu-features-content">
              <div class="row">
                {% if subjects %}
                {% for subject in subjects %}
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mu-single-feature">
                    <span class="glyphicon glyphicon-education"></span>
                    <h4>{{ subject.name }}</h4>
                    <a href="/subject/{{subject.name}}">Read More</a>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <!-- End features content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End features section -->

  <!-- Start latest course section -->
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <a href="events_all">
            <div class="mu-title">
              <h2>Evenimete viitoare</h2>

              <p>Vă ţinem la curent cu cele mai importante evenimente!</p>
            <a href="events_all" class="mu-read-more-btn">Toate evenimentele</a>
            </div>
            </a>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              {% if events %}
              {% for event in events %}
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a ><img style="max-width: 400px;max-height: 180px" src= '{{ event.file.url }}' alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="/event/{{ event.slug }}" >{{ event.name|truncatechars:10 }}</a>
                      <span><i class="fa fa-clock-o"></i>{{ event.date }}</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="/event/{{ event.slug }}">Află mai mult</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>

            <!-- End latest course content -->
          </div>


        </div>


      </div>

    </div>

  </section>

  <!-- End latest course section -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->



  <section id="mu-from-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-from-blog-area">
            <!-- start title -->
            <div class="mu-title">
              <a href="/news_all">
              <h2 >Noutaţi</h2>

              <p>Vă ţinem la curent cu cele mai noi informaţii</p>

                  <a href="/news_all" class="mu-read-more-btn " style="color: #0f0f0f">Toate noutaţiile</a>
              </a>
            </div>
            <!-- end title -->
            <!-- start from blog content   -->
            <div class="mu-from-blog-content">
              <div class="row">

                {% if noutati %}
                {% for news in noutati %}
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="/news/{{ news.slug }}"><img style="max-width: 400px;max-height: 180px" src= '{{ news.file.url }}' alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="/news/{{ news.slug }}">{{ news.name|truncatechars:20 }}</a></h3>
                      </figcaption>
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="#">By {{ news.author.get_full_name }}</a>
                      <a href="#">{{ news.date_creation }}</a>

                    </div>
                    <div class="mu-blog-description">
                            <a href="/news/{{ news.slug }}" class="mu-read-more-btn">Citiţi in continuare</a>
                    </div>

                  </article>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <!-- end from blog content   -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End from blog -->



  <!-- Start latest course section -->
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <a href="/school_all">
            <div class="mu-title">
              <h2>Şcolile din judeţul Timiş </h2>
<p>"Educaţia înseamnă învăţarea a ceea ce nu ai ştiut vreodată că nu ştii."</p>
            <a href="/school_all" class="mu-read-more-btn">Toate şcolile</a>
            </div>
            </a>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              {% if schools %}
              {% for school in schools %}
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a ><img style="max-width: 400px;max-height: 180px" src= '{{ school.file.url }}' alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="/schools/{{ school.slug }}" >{{ school.name|truncatechars:33 }}</a>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="/schools/{{ school.slug }}">Mail mult</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>

            <!-- End latest course content -->
          </div>


        </div>


      </div>

    </div>

  </section>

  <!-- End latest course section -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End our teacher -->


<section id="mu-from-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-from-blog-area">
            <!-- start title -->
            <div class="mu-title">
              <a href="/album">
              <h2 >Galerie de imagini</h2>

              <p>„O minte educată îți permite să susții un gând fără a-l accepta.” — Aristotel</p>

                  <a href="/album" class="mu-read-more-btn " style="color: #0f0f0f">Toate albumele</a>
              </a>
            </div>
            <!-- end title -->
            <!-- start from blog content   -->
            <div class="mu-from-blog-content">
              <div class="row">

                {% if album %}
                {% for news in album %}
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="/gallery_img/{{ news.slug }}" ><img style="max-width: 400px;max-height: 180px" src= '{{ news.file.url }}' alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="/gallery_img/{{ news.slug }}"  >{{ news.name|truncatechars:16 }}</a></h3>
                      </figcaption>
                    </figure>
                    <div class="mu-blog-description">
                            <a href="/gallery_img/{{ news.slug }}" class="mu-read-more-btn">Vizualizati albumul</a>
                    </div>

                  </article>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <!-- end from blog content   -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End from blog -->




 {% endblock %}
