<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% load staticfiles %}
{% block content %}
  {# This is for img responsive in text rich start#}
  <style>
  img {
    max-width:100% !important;
    height:auto !important;
  }
  </style>
  {#  end  #}
  <!-- Page breadcrumb -->
  <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>Articol</h2>
            <ol class="breadcrumb">
              <li><a href="/">Acasă</a></li>
              <li class="active">{{ name }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-single">
                  <div class="row" style="word-break: break-all;">
                    <div class="col-md-12">
                      <article class="mu-blog-single-item">
                        <figure class="mu-blog-single-img">
                          <a ><img alt="img" style="max-height: 500px" src= '{{thumbnail}}'></a>
                        </figure>
                        <figcaption class="mu-blog-caption" style="padding-top: 305px;">
                        <h3><a href="#">{{ name }}</a></h3>
                        </figcaption>
                        <div class="mu-blog-meta">
                          <a>{{ date }}</a>
                        </div>
                        <div class="mu-blog-description">
                          <p>{{ text|safe }}</p>
                          <!--<blockquote>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas numquam quis obcaecati, a sed ad aut totam fugiat, cumque quasi!</p>-->
                          <!--</blockquote>-->
                          <!--<h1>Lorem ipsum dolor sit amet.</h1>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam distinctio voluptatibus sequi sint, in. Soluta alias sunt, voluptates necessitatibus neque, perspiciatis, quos doloribus quae non tempore ut qui facere nulla.</p>-->
                          <!--<h2>Lorem ipsum dolor sit amet, consectetur.</h2>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus dolor totam architecto voluptatum, unde non ipsum officia adipisci, eos error, expedita corporis laudantium esse. Mollitia minus, molestias doloremque! Earum, fuga!</p>-->
                          <!--<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus omnis laudantium magni ut voluptatum, asperiores consequatur ducimus tempore enim possimus aliquid eius aliquam nam quasi itaque officiis debitis ad minima.</p>-->
                          <!---->
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
                <!-- end course content container -->
                <!-- start blog navigation -->
                <!-- end blog navigation -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    
                    <h3><a href="/subject_page_all">Specializări</a></h3>
                    
                    <ul class="mu-sidebar-catg">
                      {% for subject in left_subjects %}
                        <li><a href="/subject/{{ subject.name }}">{{ subject.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                  <!-- start single sidebar -->
                  {% if other_news %}
                    <div class="mu-single-sidebar">
                      <h3>Popular News</h3>
                      {% for news in other_news %}
                        <div class="mu-sidebar-popular-courses">
                          <div class="media">
                            <div class="media-left">
                              <a href="/news/{{ news.slug }}">
                                <img class="media-object" src= '{{ news.file.url }}' alt="img">
                              </a>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="/news/{{ news.slug }}">{{ news.name }}</a></h4>
                              <span class="popular-course-price">{{ news.date }}</span>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}