<!-- Copyright 2017 Adrian-Ioan Garovat, Emanuel Covaci, Sebastian-Valeriu Males-->
<!---->
<!-- This file is part of WebsiteISJ-->
<!---->
<!-- WebsiteISJ is free software: you can redistribute it and/or modify-->
<!-- it under the terms of the GNU General Public License as published by-->
<!-- the Free Software Foundation, either version 3 of the License, or-->
<!-- (at your option) any later version.-->
<!---->
<!-- WebsiteISJ is distributed in the hope that it will be useful,-->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!-- GNU General Public License for more details.-->
<!---->
<!-- You should have received a copy of the GNU General Public License-->
<!-- along with WebsiteISJ.   If not, see <http://www.gnu.org/licenses/>.-->
{% extends "base.html" %}
{% block title %}Toate categoriile {% endblock %}
{% load staticfiles %}
{% block content %}
  <!-- Page breadcrumb -->
  <section id="mu-page-breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-page-breadcrumb-area">
            <h2>{{ name }}</h2>
            <ol class="breadcrumb">
              <li><a href="/">Acasă</a></li>
              <li class="active">Toate categoriile</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End breadcrumb -->
  <section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">
                    <div class="list-group">
                      <a href="#" class="list-group-item active">Toate categoriile</a>
                      {% if categories_all %}
                        {% for category  in categories_all %}
                          <a href="/category/{{ category.slug }}" class="list-group-item act">{{ category.title }}</a>
                        {% endfor %}
                      {% else %}
                        <a  class="list-group-item list-group-item-danger">Nu sunt informații de afișat </a>
                        {%endif%}
                      </div>
                    </div>
                  </div>
                  <!-- end course content container -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      
                      <h3><a href="/subject_page_all">Specializări</a></h3>
                      
                      <ul class="mu-sidebar-catg">
                        {% for subject in left_subjects %}
                          <li><a href="/subject/{{ subject.name }}">{{ subject.name }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}