{% extends "base.html" %}
{% block title %}{{ name }}{% endblock %}
{% load staticfiles %}
{% block content %}

 <!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>{{ name }}</h2>
           <ol class="breadcrumb">
            <li><a href="/">Acasă</a></li>
            <li class="active">{{ name }}</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-9">
                <!-- start course content container -->
                <div class="mu-course-container mu-blog-archive">
                  <div class="row">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">{{ name }}</a>
                      {% if subcategories or simple_pages  %}


                      {% for subcategory in subcategories %}
                        <a href="/subcategory/{{ subcategory.slug_sub }}" class="list-group-item act">{{ subcategory.name }}</a>

                      {% endfor %}

                      {% for page in simple_pages %}
                        <a href="/simple/{{ page.slug }}" class="list-group-item act">{{ page.name }}</a>

                      <!--<li><a href="/simple/{{ simple_page.name }}/{{simple_page.slug}}">{{ simple_page.name}}</a></li>-->

                      {% endfor %}


                      {% else %}
                      <a  class="list-group-item list-group-item-danger">Nu sunt informații de afișat </a>
                      {%endif%}


                      </div>
                  </div>
                </div>
                <!-- end course content container -->
              </div>
              <div class="col-md-3">
                <!-- start sidebar -->
                <aside class="mu-sidebar">
                  <!-- start single sidebar -->
                  <div class="mu-single-sidebar">
                    <h3>Specializări</h3>
                    <ul class="mu-sidebar-catg">
                      {% for subject in left_subjects %}
                      <li><a href="/subject/{{ subject.name }}">{{ subject.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- end single sidebar -->
                </aside>
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock %}
